* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 7px;
    font-size:xx-large;
    
}
.page-design{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 98vh;
    gap: 0.2em;

}
.header{
    background: #ffcdd2;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /* height: 10vh; */
    padding: 2rem;
}
.nav{
    background: #bbdefb;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 2rem;
    /* height: 10vh; */
}
.aside{
    background: #e1bee7;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    /* height: 80vh; */
    padding: 2rem;
}
.article{
    background: #dcedc8;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    padding: 2rem;
    /* height: 40vh; */
}
.footer{
    background: #ffecb3;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    /* height: 10vh; */
    padding: 2rem;
}